body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  background: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat {
  width: 600px;
  height: 500px;
  border-radius: 10px;
  background: #141414;
  padding: 40px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.chat h2 {
  color: #4c4c4c;
}

.chat ul {
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.chat ul li {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 5px;
  margin-right: 15px;
  max-width: 250px;
}

.self {
  align-self: flex-end;
}

.chat form {
  display: flex;
  gap: 5px;
}

.chat form input {
  flex: 1;
  padding: 15px;
  outline: none;
  border: none;
  background: #1a1a1a;
  border-radius: 5px;
  color: #fff;
}

.chat form button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100px;
  background: rgb(133, 0, 255);
  color: #fff;
  transition: 0.2s;
}

.chat form button:hover {
  box-shadow: 0 0 10px rgba(133, 0, 255, 0.7);
  transition: 0.2s;
}

:root {
  --scroll-size: 15px;
  --scroll-radius: 20px;
  --scroll-track: rgb(255 255 255 / 10%);
  --scroll-thumb: linear-gradient(45deg, #8500ff, #6200ff);
}

html,
body {
  scrollbar-color: var(--scroll-thumb-color, grey)
    var(--scroll-track, transparent);
  scrollbar-width: thin;
}

.chat ul::-webkit-scrollbar {
  width: var(--scroll-size, 10px);
  height: var(--scroll-size, 10px);
}
.chat ul::-webkit-scrollbar-track {
  background-color: var(--scroll-track, transparent);
  border-radius: var(--scroll-track-radius, var(--scroll-radius));
}
.chat ul::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color, grey);
  background-image: var(--scroll-thumb, none);
  border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}
