body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  background: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 600px;
  border-radius: 10px;
  background: #141414;
  padding: 40px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  #entrar {
    flex-flow: column;
    height: 100%;
    width: 100%;
    justify-content: space-between !important;
  }

  #entrar input {
    flex: 0 !important;
  }

  #form {
    flex-flow: column;
    gap: 20px;
  }

  .chat {
    flex: 1;
  }

  #messages {
    flex: 1;
  }
}

.wrapper h2 {
  color: #4c4c4c;
}

.chat {
  flex-flow: column;
  gap: 15px;
}

.chat ul {
  display: flex;
  flex-flow: column;
  gap: 30px;

  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-y: scroll;
  overflow-wrap: break-word;

  height: 300px;
}

.chat ul li {
  background: linear-gradient(to right, #8500ff, #a900ff);
  padding: 15px;
  border-radius: 5px;
  margin-right: 15px;
  width: 100%;
  max-width: 250px;
  position: relative;
  display: flex;
  flex-flow: column;
}

.chat ul li .time {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 0.8rem;
  color: #424242;
}

.chat ul li .username {
  font-size: 0.8rem;
}

.self {
  align-self: flex-end;
  background: linear-gradient(to right, #1a1a1a, #222222) !important;
}

.notify {
  align-self: center;
  color: #3c3c3c;
  background: none !important;
  padding: 0px;
  text-align: center;
}

.chat form {
  display: flex;
  gap: 5px;
}

input[type="text"] {
  flex: 1;
  padding: 15px;
  outline: none;
  border: none;
  background: #1a1a1a;
  border-radius: 5px;
  color: #fff;
  width: 100%;

  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: rgb(133, 0, 255);
  color: #fff;
  transition: 0.2s;
  padding: 15px 30px;
}

.chat form button:hover {
  box-shadow: 0 0 10px rgba(133, 0, 255, 0.7);
  transition: 0.2s;
}

#entrar {
  justify-content: center;
  display: flex;
  gap: 10px;
}

:root {
  --scroll-size: 15px;
  --scroll-radius: 20px;
  --scroll-track: rgb(255 255 255 / 10%);
  --scroll-thumb: linear-gradient(45deg, #8500ff, #6200ff);
}

html,
body {
  scrollbar-color: var(--scroll-thumb-color, grey)
    var(--scroll-track, transparent);
  scrollbar-width: thin;
}

.chat ul::-webkit-scrollbar {
  width: var(--scroll-size, 10px);
  height: var(--scroll-size, 10px);
}
.chat ul::-webkit-scrollbar-track {
  background-color: var(--scroll-track, transparent);
  border-radius: var(--scroll-track-radius, var(--scroll-radius));
}
.chat ul::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color, grey);
  background-image: var(--scroll-thumb, none);
  border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}
